<div id='about-me' class='wrap sub-wrap'>
  <div class='left'>
    <h3>ABOUT ME</h3>
    <div id='education'>
      <h4 class='white'>Education</h4>
      <p class='white'>
        Excellence Bachelor Degree Faculty Of Architecture from Khonkaen University  
      </p>
      <p class='white'>
        GPA : 3.30  Major Architectural  2010
      </p>
    </div>
    <div id='working_experience'  class='white'>
      <h4>Work experience</h4>
      <p class='position white'>
        2010 :   ARCHEN COMPANY LIMITED   architect / planner
      </p>
      <ul class='projects white'>
        <li>Project Primary House</li>
        <li>Project Erawan Resort Project One</li>
        <li>Project Jaymart Office Building</li>
        <li>Project Tapaoyai Resort</li>
      </ul>
      <p class='position white'>
        2011-2014 : ARSOMSILP INSTITUTE OF ART company
      </p>
      <ul class='projects white'>
        <li>Project Community Center of Yala </li>
        <li>Project Kasem House</li>
        <li>Project Hospices </li>
      </ul> 
    </div>
    <div id='honor_and_awards' class='white'>
      <h4>Honor & Awards </h4>
      <ul class='projects white'>
        <li>SMART ARCHITECT AWARDS 2008  by SCG & ASA</li>
        <li>ARCASIA STUDENT JAMBOREE 13th / ARCHITECTS REGINAL CONCIL, ASIA</li>
        <li>CERTIFICATION 2008   from Khonkaen University</li>
      </ul>  
    </div>
    <div id='special_training' class='white'>
      <h4>Special training </h4>
      <ul class='projects white'>
        <li>
          Workshop of architecture studying with students from others countries in Asia at South Korea</li>
        <li>Volunteers Camping for developing community</li>
        <li>Conservatives Camping to conserve temple</li>
        <li>Visiting to culture architecture in South Korea</li>
        <li>Visiting to culture architecture in Sri Lanka</li>
        <li>Visiting to culture architecture in China</li>
        <li>Volunteers for taking cancers patient</li>
      </ul>  
    </div>
  </div>
  <div class='right'>
    <%= image_tag "kob-profile.jpg", class: "profile-picture" %>
  </div>
</div>