<div id='about-me' class='wrap'>
    <div class='left'>
        <img class='profile-picture' src="https://fbcdn-sphotos-e-a.akamaihd.net/hphotos-ak-prn1/t1/1016658_10200904839696577_1567521359_n.jpg" alt="">
    </div>
    <div class='right'>
        <h3>About me</h3>
        <p class='white'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec non posuere ligula. Duis quis nisl non nisl commodo sodales quis id dui. Nam facilisis sodales libero eu pretium. Nullam faucibus adipiscing venenatis. Nam adipiscing interdum neque, sit amet feugiat leo auctor non.</p>
        <p class='white'>Cras at erat iaculis, convallis nulla non, pretium justo. Nulla scelerisque non arcu eget pellentesque. Praesent consequat fringilla lectus ac iaculis. Nullam pharetra nulla condimentum lectus hendrerit, mattis imperdiet eros luctus. Vivamus ut sapien commodo dolor blandit laoreet. Suspendisse egestas mi vestibulum ultrices pellentesque.</p>
        <p class='white'>Aenean facilisis quam ac risus ultrices, sed aliquam mi fringilla. Proin nisl mauris, porttitor pulvinar interdum ut, accumsan vitae dolor.</p>
    </div>
</div>