<div id='portfolio' class='wrap'>
  <div class='description'>
    <h3 id='portfolio_label' class='pink'>Portfolio</h3>
    <label class='white'>Architecture + Design</label>
    <label class='white'>Project 2005 - 2014</label>
  </div>

  <section id="options" class="clearfix">
    <div class="option-combo">
      <ul id="filters" class="option-set clearfix" data-option-key="filter">
        <li><a href="#show-all" data-option-value="*" class="selected pink">Show all</a></li>
        <li> | </li>
        <li><a href="#job" data-option-value=".job" class="pink">My jobs</a></li>
        <li> | </li>
        <li><a href="#study" data-option-value=".study" class="pink">My studies</a></li>
      </ul>
    </div>
  </section>

  <div id='container'>

    <% @images.each do |root_key, values| %>

      <% values.each do |sub_key, pictures| %>

        <% pictures.each do |picture| %>

          <div class='element  <%= "#{root_key} #{sub_key}" %>'>
            <% picture.slice! "app/assets/images/" %>

            <% full_picture = picture.dup %>
            <% full_picture.slice! "_thumb" %>
            <a href='<%= "assets/#{full_picture}" %>' data-lightbox='<%= picture %>' class='lightbox'>
              <%= image_tag picture, class: "thumbnail" %>
            </a>
          </div>

        <% end %>

      <% end %>

    <% end %>

  </div>
</div>