<div id='main-nav' class='fade-in three'>
  <ul class='button-group'>
    <% @main_nav.each do |label, anchor_id| %>
      <%= link_to homes_path(anchor: anchor_id) do %>
        <li class='fluid-button'>
            <p></p>
            <span class='static-name'><%= label %></span>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>