<div id='landing' class='wrap'>
  <label id='owner'>Ketnipha Pontongshaisawad</label>
</div>

<%= render "shared/main_nav" %>
<%= render "portfolios/grid" %>
<%= render "about_me/show" %>
<%= render "contact/show" %>