<div id='contact' class='wrap'>
  <div>
    <h3>Contact Information</h3>
    <h5 class='white'>Thank you for your visit!</h5>
    <p class='white'>Mobile: +66809099359</p>
    <p class='white'>Email: phon.ketnipa@gmail.com</p>
  </div>
</div>