<div id='contact' class='wrap sub-wrap'>
  <div>
    <h3>Contact Information</h3>

    <h5 class='white'>Thank you for your visit!</h5>
    <p class='white'>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. In eu porta quam. Praesent tempus neque mi, in viverra est placerat id.
    </p>

    <p class='white'>Tel: +66000000000</p>
    <p class='white'>Email: example@example.com</p>
  </div>
</div>