//= require main-nav
//= require left-nav
//= require portfolio
//= require about_me
//= require contact
//= require isotope

html, body {
  font-size:   12px;
  line-height: 18px;
  height: 100%;
  margin: 0;
  font-family: 'Cutive Mono', serif;
}

.wrap {
    clear: both;
    overflow: hidden;
    position: relative;
    z-index: 3;
}

.sub-wrap {
    padding-left: 40px !important;
    margin-left: 200px;
    position: relative;
    z-index: 1;
}

.left {
    float: left;
    border: none;
    width: 60%;
}

.right {
    float: right;
    border: none;
    width: 40%;
    text-align: right;
}

h3 {
    font-weight: bold;
    white-space: nowarp;
    margin-top: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    color: #000;
    line-height: 24px;
    white-space: nowarp;
    padding-left: 20px;
}

#landing {
    clear: both;
    margin: 0 auto;
    background-color: #000;
    height: 95%;
    padding-bottom: 0;
    background-image: url("folio/plate2_no_label.jpg");
    background-repeat:no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: 0.7;
    filter:alpha(opacity=80); /* For IE8 and earlier */
}

#manifesto {
    color: black;
    float: right;
    font-weight: bold;
    font-size: 22px;
    margin-top: 130px;
    margin-right: 130px;
}

#owner {
    clear: both;
    color: black;
    float: right;
    font-size: 16px;
    margin-top: 20px;
    margin-right: 210px;
}

.center {
    text-align: center;
}

.big {
    font-size: 24px;
}

.white {
    color: #FFF;
}

#filters {
    li {
        display: inline-block;
        margin: 0 5px;
    }
}

.pink {
    color: #fd02db;
}

.selected {
    color: blue;
}

#links {
    clear: both;
    margin: 0 auto;
    background-color: #000;
    height: 100%;
    padding-bottom: 0;
    background-image: url("folio/pate4.jpg");
    background-repeat:no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    filter:alpha(opacity=80); /* For IE8 and earlier */
}

.sticky {  
    position: fixed;  
    width: 100%;  
    left: 0;  
    top: 0;  
    z-index: 100;  
    border-top: 0;  
}  

.hide {
    display: none;
}

p, li {
    font-size: 14px;
}

