//= require main-nav
//= require portfolio
//= require about_me
//= require fade-in-onload

html, body {
    font-size:   12px;
    line-height: 18px;
  height: 100%;
  background-color: #3d3d3d;
  margin: 0;
}

.wrap {
    padding: 20px 200px;
    clear: both;
    overflow: hidden;
}

.left {
    float: left;
    border: none;
    width: 40%;
    text-align: right;
}

.right {
    float: right;
    border: none;
    width: 60%;
}

h3 {
    color: #FFF;
    font-weight: bold;
    white-space: nowarp;
    margin-top: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    color: #FFF;
    line-height: 24px;
    white-space: nowarp;
}

#landing {
    clear: both;
    margin: 0 auto;
    background-color: #000;
    height: 100%;
}

.center {
    text-align: center;
}

.big {
    font-size: 24px;
}

.white {
    color: #FFF;
}