#main-nav {
  position: absolute; 
  bottom: 0;
  width: 100%;
  z-index: 4;
}

ul.button-group {
  text-align: center;
  display: table;
  width: 100%;
  margin: 0;
  background-color: white;

  a, a:hover {
    text-decoration: none !important;
  }

  li {
    margin: 0 1%;
    display: inline-block;
    padding: 20px;
  }
}