#portfolio {
  clear: both;
  background-color: rgba(21,21,21, .97);
  overflow: hidden;

  .work-item {
    overflow: hidden;
    margin-bottom: 50px;

    .work-item-left {
      width: 50%;
      float: left;
    }
    .work-item-right {
      width: 50%;
      float: right;
      color: #FFF;

      .work-title {
        margin-top: 0;
      }
    }
  }

  .thumbnail {
    padding: 0;
    border: none;
    border-radius: 0;
  }
}
